// Breakpoint variables
// May be imported and should be used to make the application response

$sa-breakpoint-extra-small: 320px;
$sa-breakpoint-small: 480px;
$sa-breakpoint-medium: 768px;
$sa-breakpoint-large: 1024px;
$sa-breakpoint-extra-large: 1280px;
