@import '../../../sa/styles/breakpoints.variables.scss';

.albums-list {
  padding: 20px;
}

.albums {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.album {
  display: inline-block;
  width: 190px;
  padding-bottom: 40px;
  padding-right: 40px;
  cursor: default;

  &__cover-placeholder {
    min-height: 200px;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &__cover {
    height: auto;
    width: 100%;
    display: block;
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.5);
    //
    transition: transform .15s ease-in-out;
  }

  &__title,
  &__artist {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }

  &__title {
    font-weight: lighter;
  }

  &__artist {
    opacity: 0.5;
  }

  &:hover {
    cursor: pointer;

    .album__cover {
      transform: scale(1.03);
    }
  }
}

@media all and (max-width: $sa-breakpoint-small) {
  .albums {
    justify-content: center;
  }

  .album {
    width: 100%;
    padding-right: 0;
  }
}

@media all and (min-width: $sa-breakpoint-small) and (max-width: $sa-breakpoint-medium) {
  .albums {
    justify-content: center;
  }

  .album {
    width: 220px;

    &:nth-child(even) {
      padding-right: 0;
    }
  }
}
