<div class="albums-list">
  <h1>Albums</h1>
  <p *ngIf="isLoading">Loading...</p>
  <ul *ngIf="!isLoading" class="albums">
    <li *ngFor="let album of albums" class="album">
    <div class="album__cover-placeholder">
      <img alt="{{ album.title }}"
        src="{{ album.imageUrl }}"
        class="album__cover"
        title="{{ album.title }} - {{ album.artist }}"/>
      </div>
      <div class="album__title">{{ album.title }}</div>
      <div class="album__artist">{{ album.artist }}</div>
    </li>
  </ul>
</div>
