@import url("../assets/fonts/fira/fira.scss");

body {
  font-family: "Fira Sans", "arial";
  font-size: 16px;
  line-height: 1.4em;
  background-color: #1F1F1F;
  color: #CCC;
}

h1 {
  font-weight: normal;
  letter-spacing: 0.3px;
}
