@font-face {
  font-family: Fira Sans;
  src: url(FiraSans-Regular.ttf) format("opentype");
}

@font-face {
  font-family: Fira Sans;
  src: url(FiraSans-Italic.ttf) format("opentype");
  font-style: italic;
}

@font-face {
  font-family: Fira Sans;
  src: url(FiraSans-Bold.ttf) format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: Fira Sans;
  src: url(FiraSans-Light.ttf) format("opentype");
  font-weight: 200;
}
